# compiled output
/reservas/dist
/reservas/node_modules
/reservas/build

# Logs
/reservas/logs
/reservas/*.log
/reservas/npm-debug.log*
/reservas/pnpm-debug.log*
/reservas/yarn-debug.log*
/reservas/yarn-error.log*
/reservas/lerna-debug.log*

# OS
/reservas/.DS_Store

# Tests
/reservas/coverage
/reservas/.nyc_output

# IDEs and editors
/reservas/.idea
/reservas/.project
/reservas/.classpath
/reservas/.c9/
*.launch
/reservas/.settings/
/reservas/*.sublime-workspace

# IDE - VSCode
/reservas/.vscode/*
!/reservas/.vscode/settings.json
!/reservas/.vscode/tasks.json
!/reservas/.vscode/launch.json
!/reservas/.vscode/extensions.json

# dotenv environment variable files
/reservas/.env
/reservas/.env.development.local
/reservas/.env.test.local
/reservas/.env.production.local
/reservas/.env.local

# temp directory
/reservas/.temp
/reservas/.tmp

# Runtime data
/reservas/pids
/reservas/*.pid
/reservas/*.seed
/reservas/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
reservas/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/reservas/generated/prisma
