# compiled output
/reserva/dist
/reserva/node_modules
/reserva/build

# Logs
/reserva/logs
/reserva/*.log
/reserva/npm-debug.log*
/reserva/pnpm-debug.log*
/reserva/yarn-debug.log*
/reserva/yarn-error.log*
/reserva/lerna-debug.log*

# OS
/reserva/.DS_Store

# Tests
/reserva/coverage
/reserva/.nyc_output

# IDEs and editors
/reserva/.idea
/reserva/.project
/reserva/.classpath
/reserva/.c9/
*.launch
/reserva/.settings/
/reserva/*.sublime-workspace

# IDE - VSCode
/reserva/.vscode/*
!/reserva/.vscode/settings.json
!/reserva/.vscode/tasks.json
!/reserva/.vscode/launch.json
!/reserva/.vscode/extensions.json

# dotenv environment variable files
/reserva/.env
/reserva/.env.development.local
/reserva/.env.test.local
/reserva/.env.production.local
/reserva/.env.local

# temp directory
/reserva/.temp
/reserva/.tmp

# Runtime data
/reserva/pids
/reserva/*.pid
/reserva/*.seed
/reserva/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
reserva/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/reserva/generated/prisma
